* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

p {
  line-height: 1.7;
}

/* 



Header & Nav



*/

.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 45px;
  right: 30px;
  z-index: 2;
  color: #fff;
  display: none;
}

header {
  background: linear-gradient(rgba(20, 20, 20, 0.9), rgba(20, 20, 20, 0.9)),
    url(./img/header-showcase-dojo.jpeg) no-repeat center center/cover;
  height: 100vh;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
}

.collapse {
  display: none;
}

.header-logo img {
  width: 60px;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

img.mobile-menu-logo {
  width: 60px;
  display: none;
}

.nav-menu li a {
  color: #fff;
  margin: 0 1.2rem;
  text-transform: uppercase;
}

a.join-btn {
  background: #ed1c25;
  color: #fff;
  padding: 10px 30px;
}

/* 



Header Showcase



*/

.showcase-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5rem;
}

.showcase-text {
  color: #fff;
}

.showcase-text h1 {
  font-size: 62px;
  width: 70%;
}

.showcase-text p {
  padding-top: 1rem;
  font-size: 17px;
  width: 70%;
}

.showcase-btn {
  margin-top: 1.5rem;
  background: #ed1c25;
  color: #fff;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}

.showcase-img img {
  width: 400px;
  border-radius: 50%;
}

/* 



Cobra Kai Code



*/

#our-code {
  margin-top: 6rem;
}

.red-line {
  background: #ed1c25;
  width: 50px;
  height: 3px;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
}

#our-code h2 {
  text-align: center;
  font-size: 40px;
}

#our-code p {
  text-align: center;
  font-size: 21px;
  margin-top: 10px;
  margin-bottom: 4rem;
}

.code-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5rem;
}

.code-img img {
  width: 325px;
  border-radius: 28px;
}

.code-card {
  text-align: center;
}

.code-card h3 {
  font-size: 24px;
  padding-top: 10px;
}
/* 





Special Message





*/

#special-message {
  background: linear-gradient(rgba(20, 20, 20, 0.9), rgba(20, 20, 20, 0.9)),
    url(./img/cobra-kai-dojo.jpeg) no-repeat center center/cover;
  height: 100vh;
  margin-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-content-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.kreese-quote {
  color: #fff;
  width: 70%;
  font-style: italic;
  font-size: 20px;
}

.message-image img {
  width: 400px;
  border-radius: 50%;
}

/* 





Special Message





*/

#cta {
  margin-top: 6rem;
}

.cta-container {
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
  margin-bottom: 8rem;
  opacity: 0.9;
}

.cta-text {
  padding: 5rem;
}

.cta-text h3 {
  padding-bottom: 0.5rem;
  font-size: 24px;
}

.cta-btn {
  padding: 5rem;
}

.cta-btn button {
  background: #ed1c25;
  color: #fff;
  width: 120px;
  height: 45px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}

footer {
  background: black;
  text-align: center;
  opacity: 0.9;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-text {
  padding: 1.5rem 0rem;
}

.footer-img img {
  width: 40px;
  padding-left: 0.5rem;
}

/* 



Mobile Styles



*/

@media only screen and (max-width: 1024px) {
  header {
    height: 100%;
  }

  .showcase-content-container {
    padding-top: 3rem;
  }

  .showcase-btn {
    margin-bottom: 4rem;
  }

  .code-cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #our-code p {
    text-align: center;
    font-size: 21px;
    margin-top: 10px;
    margin-bottom: 4rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 920px) {
  .showcase-content-container {
    padding-top: 3rem;
  }

  .showcase-text {
    color: #fff;
  }

  .showcase-text h1 {
    font-size: 42px;
  }

  .showcase-text p {
    padding-top: 1rem;
    font-size: 15px;
    width: 70%;
  }

  .showcase-btn {
    margin-top: 1.5rem;
    background: #ed1c25;
    color: #fff;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 4rem;
  }

  .showcase-img img {
    width: 250px;
  }

  #our-code p {
    width: 70%;
  }

  .message-content-container {
    flex-direction: column-reverse;
  }

  .kreese-quote {
    margin-top: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }

  #special-message {
    height: 100%;
  }
  .message-image img {
    width: 300px;
    margin-top: 3rem;
  }

  .message-text {
    margin-bottom: 3rem;
  }

  .cta-container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .cta-btn {
    padding: 3rem;
  }

  .cta-text {
    padding: 3rem;
  }
}

@media only screen and (max-width: 640px) {
  .menu-btn {
    display: block;
  }

  header {
    height: 100%;
  }

  img.mobile-menu-logo {
    display: block;
  }

  .nav-menu {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background: black;
    width: 80%;
    height: 700px;
    padding: 5px 20px;
    transform: translateX(-500px);
    transition: transform 0.4s ease-in-out;
  }

  .nav-menu.show {
    transform: translateX(-20px);
  }

  .nav-menu li {
    padding: 1.5rem 2rem;
    border-bottom: 1px solid gray;
  }

  .nav-menu li:last-child {
    border-bottom: none;
  }

  .showcase-content-container {
    flex-direction: column-reverse;
    padding-top: 3rem;
    margin-bottom: 3rem;
  }
  .showcase-img img {
    width: 100%;
  }

  .showcase-text h1 {
    font-size: 48px;
    width: 100%;
    padding-top: 1.5rem;
  }

  .showcase-text p {
    padding-top: 1rem;
    font-size: 16px;
    width: 100%;
  }

  .showcase-btn {
    margin-top: 1.5rem;
    background: #ed1c25;
    color: #fff;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 4rem;
  }

  #our-code h2 {
    text-align: center;
    font-size: 30px;
  }

  #our-code p {
    width: 100%;
  }

  #special-message {
    height: 100%;
  }
  .message-image img {
    width: 300px;
    margin-top: 3rem;
  }

  .message-text {
    margin-bottom: 3rem;
  }
}
